# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# NPM
node_modules/*

# Desktop Services Store on macOS
.DS_Store

# Elm
elm-stuff
elm.js

# Logs
logs
*.log