body {
    background-color: rgba(1, 23, 47, 0.9);
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.timer {
    background-color: rgb(130, 138, 149);
    position: relative;
    border-radius: 20px;
    width: 600px;
    height: 100px;
    margin: 50px auto;
    padding: 20px;
}

.border-bottom {
    border: 0;
    border-bottom: 2px solid rgb(21, 59, 80);
    border-radius: 6px;
    padding: 4px;
}

.form input, .form button {
    margin-right: 4px;
}

.form button {
    background-color: white;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid rgb(21, 59, 80);
}

button {
    padding: 4px;
}

button:active {
    color: rgb(21, 59, 80);
}

.delete-timer {
    position: absolute;
    top: 18px;
    right: 16px;
}

.countdown-clock {
    color: white;
    max-width: 100%;
    margin: 10px 0px;
    font-size: 58px;
}

.countdown-complete {
    font-size: 38px;
    margin-top: 20px;
}

.circle {
    border: 1px solid rgb(21, 59, 80);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    align-self: center;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
    background: rgb(130, 138, 149);
}
.circle:hover {
    background: rgb(21, 59, 80);
    cursor: pointer;
}
.circle:before,
.circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}
.circle.plus:before {
    width: 2px;
    margin: 2px auto;
}
.circle.plus:after {
    margin: auto 2px;
    height: 2px;
}
.circle.minus {
    background-color: rgb(21, 59, 80);
}
.circle.small {
    width: 22px;
    height: 22px;
}
.circle.minus:hover {
    background: rgba(230, 15, 15, 0.596);
}
.circle.minus:before {
    background: white;
    margin: auto 3px;
    height: 2px;
}
